WebApi/obj/Debug/net6.0/WebApi.assets.cache
IOC/obj/Debug/net6.0/IOC.assets.cache
Domain/obj/Debug/net6.0/Domain.assets.cache
Persistence/obj/Debug/net6.0/Persistence.assets.cache
Application/obj/Debug/net6.0/Application.assets.cache
